

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sevillana&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #fff;
}
.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 300px;
    background-color: #121212;
    padding: 10px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
}
.nav-logo i {
font-size: 24px;
margin-bottom: 15px;
}
.nav-library i,.nav-library p {
color: #b6b2b4;
font-size: 14px;
cursor: pointer;
}
.nav-library {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-playlist, .nav-podcast {
    background-color: #242424;
    padding: 16px;
    border-radius: 8px;
    margin-top: 19px;
}
.nav-playlist button,.nav-podcast button {
   background-color: #fff; 
   color: #000;
   border: none;
   padding: 6px 10px;
   margin-top: 16px;
   cursor: pointer;
   font-size: 14px;
   border-radius: 20px;
}
.nav-playlist p,.nav-podcast p{
    font-size: 12px;
}
.nav-footer{
    margin-top: auto;
    /*   joga o itam pra baixo*/
    
}
.nav-footer a{
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.nav-lang-button{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 20px;
}
main {
    padding: 24px;
   flex-grow: 1;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 8px 16px;
    border-radius: 20px;
    width: 300px;
}
.search-bar input {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    margin-left: 10px;
    outline: none;
}
.artists-grid , .albums-grid{
 display: grid;
 grid-template-columns: repeat(auto-fill,minmax(180px, 1fr));
 gap: 24px;
 margin-bottom: 40px;
}
.artist-card,.album-card {
    background-color: #181818;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.artist-card:hover,.album-card:hover {
    background-color: #282828;
    
}
.artist-card img, .album-card img {
    width: 100%;
    max-height: 70%;
    border-radius: 50%;
    margin-bottom: 16px;
}
.artist-card h3, .album-card h3 {
font-size: 12px;
}
.artist-card p, .album-card p{
font-size: 10px;
color: #b7b3b6;
}
.content h2{
    margin-bottom: 20px;
}
.banner {
    position: fixed;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg,#af2896,#509bf5);
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
}
.banner h2 {
font-size: 14px;
}
.banner p {
font-size: 10px;
}
.banner button {
    border-radius: 20px;
    color: #000;
    border: none;
    padding: 12px 20px;
    font-weight: 600;
}